body {
  text-align: center;
}

select {
  width: 255px;
  padding: 15px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

.container {
  margin: 45px auto;
  padding: 15px 20px;
  width: 50%;
}
.visible {
  visibility: visible;
}
.hidden {
  visibility: hidden;
}
.back {
    background-color: red;
}
