
body{
    padding: 0;
    margin: 0;  
    background-color: blanchedalmond;
    height: 100vh;
}
h1 {
    text-align: center;
    margin: 50px auto;
}
.one {
    display: flex;
    align-items: center;
    background-color:red;
    height: 20rem;
    width: 50%;
    float: left;
}

.two {
    display: flex;
    width: 50%;
    align-items: center;
    background-color:blue;
    height: 10rem;
    float: right;
}

.three {
    display: flex;
    align-items: center;
    background-color:yellow;
    height: 10rem;
    float: right;
    width: 50%;
}

h3 {
    margin: 20px auto;
    background-color: black;
    padding: 3px 5px;
    color: darkgoldenrod;
    text-transform: uppercase;
}