body{
    margin: 30px auto;
    padding: 0;
    height: 100vh;
}

p {
    background-color: black;
    text-align: center;
    font-size: xx-large;
    letter-spacing: 25px;
    max-width: 400px;
    margin: 40px auto;
    padding: 30px 45px; 
}

#n {
    color: red;
}
#n:hover{
    color: antiquewhite;
}

#i {
    color: antiquewhite;
}
#i:hover{
    color: red;
}

#h {
    color: blue;
}
#h:hover{
    color: purple;
}

#a {
    color: purple;
}
#a:hover{
    color: blue;
}

#l {
    color: whitesmoke;
}
#l:hover{
    color: wheat;
}
#ho:hover {
    
    background-color: rosybrown;
}
.overview{
    max-width: 100vw;
    height: 5rem;
    box-sizing: border-box;
    margin: 40px 50px;
    background-image: url('./images/back.jpg');
    background-size: cover;
    background-position: center;

}